<div class="columns is-mobile">
    <div class="column is-three-fifths is-offset-one-fifth">
        <p class="title">Cart</p>
        <div id="cart-table">
            <div v-if="courses.length">
                <table id="cart-table" class="table  is-narrow is-hoverable is-fullwidth  has-text-centered"
                    data-cart="{{ context }}">
                    <thead>
                        <tr>
                            <th>Course name</th>
                            <th>Price</th>
                            <th>Count</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="4" class="title" style="text-align: left;">Total price: {%  price %}</td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr v-for="course in  getCourses" v-bind:key="course.id">
                            <td>{% course.title %}</td>
                            <td>{% course.price %}</td>
                            <td>{% course.count %}</td>
                            <td class=" has-text-centered">
                                <button v-on:click="onDeliteButton(course.id)" class="button is-danger">
                                    Delite
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-else>
                <p class="notification is-warning">Нет добавленных курсов</p>
            </div>
        </div>
    </div>
</div>



{{#content "scripts-block" mode='append'}}
<script type="text/javascript" src="/js/cart.scripts.js"></script>
{{/content}}